/* My Work */

.active {
  display: block;
}

.inactive {
  display: none;
}


#divabout1 {
  width: 40%;
  height: 270px;
  font-family: Pt Mono;
}

#divabout2 {
  width: 60%;
  height: 270px;
  font-family: Pt Mono;
}

#divabout3 {
  width: 100%;
  height: 270px;
  font-family: Pt Mono;
}

#divabout4 {
  width: 33.33%;
  height: 270px;
  font-family: Pt Mono;
}

.content-right {
  top: 79px;
  margin-top: 80px;
  box-sizing: border-box;
  background-color: yellow;
  color: rgb(0, 0, 0);
  display: block;
  font-size: 14px;
  height: 100% auto;
  line-height: 24px;
  margin-left: 400px;
  pointer-events: auto;
  text-rendering: optimizelegibility;
  width: auto;
  p, h2 {
    padding: 30px;
    margin: 0;
  }
  h3 {
    font-size: 14px;
  }
}

.content-left {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #2A316D;
  background-origin: padding-box;
  background-size: auto;
  bottom: 0;
  left:0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 14px;
  height: auto;
  line-height: 24px;
  margin: 0;
  max-width: none;
  overflow-x: scroll;
  overflow-y: scroll;
  padding: 0;
  pointer-events: auto;
  position: fixed;
  text-rendering: optimizelegibility;
  top: 79px;
  width: 400px;
  h2 {
    color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    margin: 0;
  }
  p {
    margin: 0;
    padding: 30px;
  }
}

/* TEAM MEMBER */
.card {
  background-color: white;
  //height: 480px;
  //width: 800px;
  //margin: auto;
  //padding: 20px;
}

.team-card {
  //margin: 20px;
}

.title {
  letter-spacing: 2.5px;
}
