.fa-paper-plane-o {
  font-size: 20px;
}

.contact-list {
  text-align: left;
}

.yellow-form {
  text-align: center;
  border: 5px solid;
  border-color: #EFFF00;
  margin: 7px;
  padding: 20px;
  min-width: 200px;
  min-height: 430px;
}