/* MY WORK */

.container {
  display: none;
  top: 80px;
  width: 1px;
}

.gvignette {
  border-color: #2A316D;
  border-style: solid;
  border-width: 2px;
  color: #2A316D;
  box-sizing: border-box;
  float: left;
  clear: all;
  font-size: 14px;
  font-weight: normal;
  height: 230px;
  line-height: 24px;
  font-size: 14px;
  position: relative;
  h2 {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
  }
}

#divbig {
  width: 52%;
}

#divsmall  {
  width: 24%;
}

.gcontainer{
  top: 90px;
  position: relative;
  padding-left: 5% auto;
  padding-right: 5% auto;
  margin:0 auto;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: normal;
  height: 100% auto;
  max-width: 1440px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  width: auto;
  margin: 0 auto;
  overflow: scroll;
}

.grow {
  font-weight: normal;
  height: auto;
  width: auto;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: Oswald;
}

/* RESPONSIVE DIV */

@media screen and (max-width: 1160px) {
  .grow #divsmall {
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 1000px) {
  #divsmall {
    h2 {
      font-size: 28px;
    }
    p {
      font-size: 10px;
      line-height: 16px;
    }
  }
}

@media screen and (max-width: 840px) {
  #divsmall {
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 9px;
      line-height: 12px;
    }
  }
}




