/* MY WORK */

/* GALERIE */

.icon {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  top: 45%;
  //-ms-transform: translate(0, 50%);
  //-webkit-transform: translate(0, 50%);
  //transform: translate(0, 50%);
}

.arrow-right {
  height: 100%;
  position: relative;
  width: 5%;
//  background-color: black;
  float: right;
  clear: all;
}

.arrow-left {
  height: 100%;
  position: relative;
  width: 5%;
//  background-color: black;
  float:left;
  clear: all;
}

.galerie-wrapper {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  left: 400px;
  top: 90px;
  overflow: hidden;
  img {
    position: relative;
    top: 0;
    left: 45%;
    width: 90%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

/* BASICS */

h1, h2, h3 {
  font-family: Oswald;
}
a {
  color: inherit;
}

#divbig {
  width: 52%;
}

#divsmall  {
  width: 24%;
}

/* KILL CONTAINER */
.container {
  //display: none;
  top: 90px;
}

/* HOME DESIGN */

.gcontainer{
  top: 90px;
  position: relative;
  padding-left: 5% auto;
  padding-right: 5% auto;
  margin:0 auto;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: normal;
  height: 100% auto;
  max-width: 1440px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  width: auto;
  margin: 0 auto;
  overflow: scroll;
}

.grow {
  font-weight: normal;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.gvignette {
  border-color: #2A316D;
  border-style: solid;
  border-width: 2px;
  color: #2A316D;
  box-sizing: border-box;
  float: left;
  clear: all;
  font-size: 14px;
  font-weight: normal;
  height: 230px;
  line-height: 24px;
  font-size: 14px;
  position: relative;
  h2 {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
  }
}

.subscribe-form {
  // width: 80%;
  // margin: 20px;
  // padding-top: 50px;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 80%;
  text-align: center;
}

/* RESPONSIVE DIV */

@media screen and (max-width: 1160px) {
  .grow #divsmall {
    h2 {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .grow #divsmall {
    h2 {
      font-size: 26px;
    }
  }
  .grow #divbig {
    h2 {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 840px) {
  .grow #divsmall {
    h2 {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 700px) {
  .grow #divsmall {
    h2 {
      font-size: 18px;
    }
  }
  .grow #divbig {
    h2 {
      font-size: 26px;
    }
  }
}

@media screen and (max-width: 600px) {
  .grow #divsmall {
    h2 {
      font-size: 12px;
    }
  }
}