/* MY WORK */

.container {
  display: none;
}

.gvignette {
  border-bottom-color: #2A316D;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: #2A316D;
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: #2A316D;
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: #2A316D;
  border-top-style: solid;
  border-top-width: 2px;
  box-sizing: border-box;
  color: black;
  display: block;
  float: left;
  clear: all;
  font-size: 14px;
  font-weight: normal;
  height: 230px;
  line-height: 24px;
  h2, p, li {
    padding: 5px;
  }
}

/*.gvignette:hover {
  background-color: #2A316D;
  border-color: #FFFFFF;
  color: #FFFFFF;
  h2 {
    color: #FFFFFF;
  }
}*/

#divbig {
  width: 52% ;
}

#divsmall  {
  width: 24% ;
}

.gcontainer{
  top: 80px;
  position: relative;
  padding-left: 5% auto !important;
  padding-right: 5% auto !important;
  margin:0 auto !important;
  box-sizing: border-box;
  color: rgb(119, 119, 119);
  display: block;
  font-size: 14px;
  font-weight: normal;
  height: 100% auto;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-width: 1440px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  width: auto;
  margin: 0 auto;
  overflow: scroll;
}

.grow {
  color: rgb(119, 119, 119);
  display: block;
  font-size: 14px;
  font-weight: normal;
  height: auto;
  line-height: 24px;
  width: auto;
  margin: 0 auto;
}

h2 {
  font-family: Oswald;
  color: #2A316D;
}