.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}

.thumb{
  img{
    width: 50px;
    height: 50px;
  }
}

.post-picture-form{
    td{
        width: 300px;
        padding: 10px 20px 10px 20px;
    }
}