
<div class="form-wrapper active" id="layer2">
    <% @posts.each do |post| %>
  <!--<div class="card">-->
      <div class="mini-card">
        <div class="inside-card">
        <h3><%= post.title %></h3>
        <p><%= post.subtitle %></p>
        <%= image_tag post.picture.url(:thumb), class: "avatar"%>
        </div>
      </div>
    <% end %>
  <!--</div>-->
</div>

<div class="content-left">
  <h2>Hello 'whatever your dummie name is'</h2>
  <p>What's you wanna do homie ?</p>
  <ul>
    <li><a href="#" id="handler1">create a new post</a></li>
    <li><a href="#" id="handler2">check my posts</a></li>
    <li><a href="#" id="handler3">create new location</a></li>
    <li><a href="#" id="handler4">add an other homie to the team</a></li>
    <li>no other option left</li>
  </ul>
</div>