<div class="card">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title">
          <h1>Qui sommes-nous ?</h1>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="about">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>
            Diamètre est une association de loi 1901 composée d’étudiants de l’Ecole du Louvre, de Sciences Po Paris et de la Sorbonne.
            Elle a pour objet de défendre, promouvoir et diffuser le travail d’artistes encore étudiants ou tout juste diplômés. Issus de formations managériales, scientifiques et plastiques, les membres de Diamètre ont à coeur de fédérer leurs différents domaines d’expertises afin de donner une nouvelle impulsion au paysage artistique de leur génération.
            Aussi les activités de l’association se déclinent comme suit :
          </p>
          </div>
          <ul>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <li>
                des rencontres avec des professionnels du monde culturel tels que les « Dia-Date ». Inspirés du modèle du speed-dating, ces rendez-vous donnent l’occasion à de jeunes artistes et de jeunes curateurs d’exposer leur univers tout en développant leur réseau. Une première édition aura lieu au Café Caché du 104 le 14 février 2015.
              </li>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <li>
                des mini expositions. À l’initiative de l’un de ses membres et de façon mensuelle, ces évènements permettent de mettre l’accent sur la production singulière d’un jeune artiste associée à la pratique curatoriale d’un étudiant.
              </li>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <li>
                des expositions collectives, thématiques, répondant à un appel à projet lancé par l’association. Notre prochaine grande exposition « Les disparitions » aura lieu du 8 au 14 juin 2015 au Point Ephémère, sur le thème de la Destruction.
              </li>
            </div>
          </ul>
        </div>
    </div>
  </div>
</div>
