<!-- RIGHT CONTENT BEGINS -->

<div class="galerie-wrapper">
  <div class="arrow-left"><span class="icon"><img src="/assets/left-arrow.png"></span></div>
  <div class="arrow-right"><span class="icon"><img src="assets/right-arrow.png"></span></div>

  <span class="first"></span>
  <span class="active"><img src="http://static0.7sur7.be/static/photo/2011/18/7/14/album_large_4296944.jpg"></span>
  <span class="inactive"><img src="http://www.vegactu.com/wp-content/uploads/2013/05/2.jpg" ></span>
  <span class="inactive"><img src="http://static0.7sur7.be/static/photo/2011/18/7/14/album_large_4296944.jpg"></span>
  <span class="last"></span>

</div>
<!-- RIGHT CONTENT ENDS -->



<!-- LEFT CONTENT BEGINS -->
<div class="content-left">
  <h2>Galerie</h2>
  <p class="active">photo 1</p>
  <p class="inactive">photo 2</p>
  <p class="inactive">photo 3</p>
</div>
<!-- LEFT CONTENT ENDS -->