<!-- RIGHT CONTENT -->
  <div class="content-right" style="overflow: hidden; margin-left: 200px">
    <iframe style="position: fixed" width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=11&center=48.8566%2C2.3522&key=AIzaSyAYapVmSN57q7kuWPSkG1_Vfbj1vpVJ46g"></iframe>
  </div>

<!-- LEFT CONTENT -->

<!-- DIAMETRE DESCRIPTION -->
  <div class="content-left active" id="about">
    <h2 style="text-align: center">MAP</h2>
    <p>LA CARTE AVEC TOUS NOS ENDROITS TROP COOLS</p>
    <ul>
      <li>Ici on met les noms des lieux cliquable</li>
      <li>on rajoute un handler dans la query de l'iframe maps pour qu'elle affiche le lieu quand on clique ;)</li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

 <!--- TEAM TEAM TEAM -->


