<!-- RIGHT CONTENT -->
 <div class="content-right" style="overflow: hidden; max-width:100%">
    <iframe style="position: absolute; margin:0; left: 20%" width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=11&center=48.8566%2C2.3522&key=AIzaSyAYapVmSN57q7kuWPSkG1_Vfbj1vpVJ46g"></iframe>
  </div>
<!--<div class="content-right" style="overflow: hidden; max-width:100%">
<div width="800" height="400" id="map-canvas" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYapVmSN57q7kuWPSkG1_Vfbj1vpVJ46g"></div></div>-->


<!-- LEFT CONTENT -->

<!-- DIAMETRE DESCRIPTION -->
  <div class="content-left active" id="about">
    <h2 style="text-align: center">MAP</h2>
    <p>LA CARTE AVEC TOUS NOS ENDROITS TROP COOLS</p>
    <ul>
      <li>Ici on met les noms des lieux cliquable</li>
      <li>on rajoute un handler dans la query de l'iframe maps pour qu'elle affiche le lieu quand on clique ;)</li>
      <li>t'en penses quoi?</li>
      <li>...</li>
      <li>:)</li>
    </ul>
  </div>

<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYapVmSN57q7kuWPSkG1_Vfbj1vpVJ46g"></script>
<script type="text/javascript"></script>-->

