<!-- RIGHT CONTENT BEGINS -->
<div class="content-right">
  <% @posts.each do |post| %>
  <div class="back-article">
    <div class="article">
      <h1>Titre de l'article</h1>
      <h3>Sous-titre de l'article</h3>
      <img src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7VG9DQVluOFJ4Tnc/materialdesign_principles_metaphor.png">
      <p></p>
    </div>
  </div>
  <% end %>
</div>
<!-- RIGHT CONTENT ENDS -->

<!-- LEFT CONTENT BEGINS -->
<div class="content-left">
  <h2>BLOG</h2>
  <p>Le blog de l'association...blablabla</p>
  <p>Liste des articles :
    <ul>
      <li>articles 1</li>
      <li>articles 2</li>
      <li>articles 3</li>
      <li>....</li>
    </ul>
  </p>
</div>
<!-- LEFT CONTENT ENDS -->