<div class="content">
  <% @posts.each do |post| %>
  <div class="back-article">
    <div class="article">
      <h1><%= post.title %></h1>
      <h3><%= post.subtitle %></h3>
      <%= image_tag post.picture.url(:medium) %>
      <p><%= post.description %></p>
    </div>
  </div>
  <% end %>
</div>