<!-- RIGHT CONTENT BEGINS -->
<div class="content-right">
  <% @posts.each do |post| %>
  <div class="back-article">
    <div class="article">
      <h1><%= post.title %></h1>
      <h3><%= post.subtitle %></h3>
      <%= image_tag post.picture.url(:medium) %>
      <p><%= post.description %></p>
    </div>
  </div>
</div>
<!-- RIGHT CONTENT ENDS -->

<!-- LEFT CONTENT BEGINS -->
<div class="content-left">
  <h2>BLOG</h2>
  <p>Le blog de l'association...blablabla</p>
  <p>Liste des articles :
    <ul>
      <li>articles 1</li>
      <li>articles 2</li>
      <li>articles 3</li>
      <li>....</li>
    </ul>
  </p>
</div>
<!-- LEFT CONTENT ENDS -->