/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */

 .submit-btn {
  border-radius: 2.5px;
  background-color: #2A316D;
  color: white;
  border-color: #2A316D;
  &:hover {
    color: #2A316D;
    background-color: white;
    border-color: #2A316D;
    border: 1px solid;
  }
 }

 .btn {
  border-radius: 2.5px;
  background-color: #2A316D;
  color: white;
  border-color: #2A316D;
  &:hover {
    color: #2A316D;
    background-color: white;
    border-color: #2A316D;
    border: 1px solid;
  }
 }