.mini-card {
  min-width: 100px;
  min-height: 250px;
  background-color: white;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 2.5px;
  box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.42);
}