.mini-card {
  min-width: 33.33%;
  max-width: 33.33%;
  max-height: 100%;
  position: relative;
  float:left;
  clear:all;
  margin: 0;
  background-color: rgb(239, 239, 239);
  padding:15px;
}

.inside-card {
  position: 0;
  background-color: white;
  text-align: center;
  border-radius: 2.5px;
  box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.42);
  height: 280px;
  position: relative;
  h3 {
    text-transform: uppercase;
    text-align: center;
    color: #2A316D;
    font-size: 20px;
    font-family: Oswald;
    margin: 0;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }
  p {
    color: #2A316D;
    line-height: 24px;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Oswald;
  }
   img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width:80%;
    max-height:60%;
    padding: 10px;
    border-radius: 0;
  }
}

@media screen and (max-width: 900px) {
  .mini-card {
    min-width: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 680px) {
  .mini-card {
    min-width: 100%;
    max-width: 100%;
  }
}