.alert-warning {
  background-color: #EFFF00;
  border-color: #EFFF00;
  color: #373564;
}

.alert-info {
  background-color: #EFFF00;
  border-color: #EFFF00;
  color: #373564;
}

// alert-info alert-dismissible