/* -------------------------------------
 * You killer form SASS module
 * ------------------------------------- */

 .box-form {
  background-color: white;
  padding: 20px;
  border-radius: 2.5px;
  box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.42);
  margin-top: $navbar-height;
 }

 .super-padding {
  padding-top: 100px;
  padding-bottom: 200px;
 }

 .form-footer {
  background: rgb(251, 251, 251);
  padding: 30px;
  border-top: 1px solid rgb(224, 224, 224);
  text-align: right;
  background: url('submit-background.png');
  background-size: 2%;
  border-radius: 2.5px;
  box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.42);
 }

