<div class="content-right" style="overflow: hidden; max-width:100%">
  <div id="map" style="position: absolute; margin:0; left: 20%; width:100%; height:100%"></div>
</div>
<div class="content-left active">
    <h2 style="text-align: center">MAP</h2>
    <p>LA CARTE AVEC TOUS NOS ENDROITS TROP COOLS</p>
    <ul>
      <li>Ici on met les noms des lieux cliquable</li>
      <li>on rajoute un handler dans la query de l'iframe maps pour qu'elle affiche le lieu quand on clique ;)</li>
      <li>t'en penses quoi?</li>
      <li>...</li>
      <li>:)</li>
    </ul>
  </div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
    var mapStyle = [
      {
          "featureType": "administrative",
          "elementType": "all",
          "stylers": [
              {
                  "visibility": "on"
              },
              {
                  "lightness": 33
              }
          ]
      },
      {
          "featureType": "landscape",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#f2e5d4"
              }
          ]
      },
      {
          "featureType": "poi.park",
          "elementType": "geometry",
          "stylers": [
              {
                  "color": "#c5dac6"
              }
          ]
      },
      {
          "featureType": "poi.park",
          "elementType": "labels",
          "stylers": [
              {
                  "visibility": "on"
              },
              {
                  "lightness": 20
              }
          ]
      },
      {
          "featureType": "road",
          "elementType": "all",
          "stylers": [
              {
                  "lightness": 20
              }
          ]
      },
      {
          "featureType": "road.highway",
          "elementType": "geometry",
          "stylers": [
              {
                  "color": "#c5c6c6"
              }
          ]
      },
      {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [
              {
                  "color": "#e4d7c6"
              }
          ]
      },
      {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [
              {
                  "color": "#fbfaf7"
              }
          ]
      },
      {
          "featureType": "water",
          "elementType": "all",
          "stylers": [
              {
                  "visibility": "on"
              },
              {
                  "color": "#acbcc9"
              }
          ]
      }
    ];

      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'map'}, provider: { styles: mapStyle }}, function(){
        var markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>