<!-- MAP BEGINS -->

  <div class="map-wrapper">
    <div id="map"></div>
  </div>
<!-- MAP ENDS -->

<!-- LEFT CONTENT BEGINS -->
<div class="content-left active">
    <h2 style="text-align: center">MAP</h2>
    <p>LOCATIONS</p>

    <ul class="list-unstyled">
      <div id='sidebar_container'>
      </div>
    </ul>
</div>
<!-- LEFT CONTENT ENDS -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
    var mapStyle = [
      {
          "featureType": "administrative",
          "elementType": "all",
          "stylers": [
              {
                  "visibility": "on"
              },
              {
                  "lightness": 33
              }
          ]
      },
      {
          "featureType": "landscape",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#f2e5d4"
              }
          ]
      },
      {
          "featureType": "poi.park",
          "elementType": "geometry",
          "stylers": [
              {
                  "color": "#c5dac6"
              }
          ]
      },
      {
          "featureType": "poi.park",
          "elementType": "labels",
          "stylers": [
              {
                  "visibility": "on"
              },
              {
                  "lightness": 20
              }
          ]
      },
      {
          "featureType": "road",
          "elementType": "all",
          "stylers": [
              {
                  "lightness": 20
              }
          ]
      },
      {
          "featureType": "road.highway",
          "elementType": "geometry",
          "stylers": [
              {
                  "color": "#c5c6c6"
              }
          ]
      },
      {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [
              {
                  "color": "#e4d7c6"
              }
          ]
      },
      {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [
              {
                  "color": "#fbfaf7"
              }
          ]
      },
      {
          "featureType": "water",
          "elementType": "all",
          "stylers": [
              {
                  "visibility": "on"
              },
              {
                  "color": "#acbcc9"
              }
          ]
      }
    ];

      function createSidebarLi(json){
        return ("<li><a>" + json.marker_title + "</a></li>");
      };

      function bindLiToMarker($li, marker){
        $li.on('click', function(){
          handler.getMap().setZoom(14);
          marker.setMap(handler.getMap());
          marker.panTo();
          google.maps.event.trigger(marker.getServiceObject(), 'click');
        })
      };

      function createSidebar(json_array){
        _.each(json_array, function(json){
          var $li = $( createSidebarLi(json) );
          $li.appendTo('#sidebar_container');
          bindLiToMarker($li, json.marker);
        });
      };

      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'map'}, provider: { styles: mapStyle }}, function(){
        var json_array = <%= raw @markers.to_json %>;
        var markers = handler.addMarkers(json_array);
        _.each(json_array, function(json, index){
          json.marker = markers[index];
        });

        createSidebar(json_array);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>