
<!-- RIGHT CONTENT BEGINS -->
<div class="map-wrapper active" id="layer1" style="height: 100%; overflow: scroll">
<div class="post-form" style="height: 100%; position: relative">
  <form style="height: 100%">
    <div style="width: 100%">
      <label style="width: 100%; padding: 5px;">titre</label>
    <input style="width: 100%; margin: 5px;">
    </div>
    <div style="width: 100%">
      <label style="width: 100%; padding: 5px;">sous-titre</label>
    <input style="width: 100%; margin: 5px;">
    </div>
    <div style="width: 100%; height: 100%">
      <label style="width: 100%; padding: 5px;">contenu</label>
    <input style="width: 100%; height: 40%; margin: 5px;">
    </div>
  </form>
    </div>
</div>

<div class="map-wrapper inactive" id="layer2">
  <div class="post-form">
    <p>bajdml amfjlkmdjslm gnkljsfjklgkljbfslkjb </p>
  </div>
</div>

<div class="map-wrapper inactive" id="layer3">

</div>

<div class="map-wrapper inactive" id="layer4">

</div>
<!-- RIGHT CONTENT ENDS -->



<!-- LEFT CONTENT BEGINS -->
<div class="content-left">
  <h2>Hello 'whatever your dummie name is'</h2>
  <p>What's you wanna do homie ?</p>
  <ul>
    <li><a href="#" id="handler1">create a new post</a></li>
    <li><a href="#" id="handler2">check my posts</a></li>
    <li><a href="#" id="handler4">create new location</a></li>
    <li><a href="#" id="handler4">add an other homie to the team</a></li>
    <li>no other option left</li>
  </ul>
</div>
<!-- LEFT CONTENT ENDS -->






<!--<h1>Dashboard</h1>

<h2>Your last creations</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h1>Posts</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <% current_user.posts.each do |post| %>
      <div class="col-xs-12 col-sm-3">
        <div class="mini-card">
        <h3><%= post.title %></h2>
        <%= post.subtitle %> <br>
        <%= image_tag post.picture.url(:thumb), class: "avatar"%>
        </div>
      </div>
    <% end %>
  </div>
</div>-->